.iconGoogle {
  width: 20px;
  height: 20px;
}

.googleBtn {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-light-grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: linear-gradient(135deg, #323f47, #486f97, #32678a, #5f5291);
  background-size: 300% auto;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.googleBtn:hover {
  @media (min-width:1440px) {
    background-position: 100% 0;
  }
}